<!-- views/partials/admin_nav.ejs -->
<div class="admin-nav bg-light border-bottom mb-4">
    <div class="container">
        <nav class="nav">
            <a class="nav-link" href="/admin">Dashboard</a>
            <a class="nav-link" href="/admin/posts">Beiträge</a>
            <a class="nav-link" href="/admin/media">Medien</a>
            <a class="nav-link" href="/admin/podcasts">Podcasts</a>
            <a class="nav-link" href="/admin/tools">Tools</a>
            <a class="nav-link ms-auto" href="/logout">Abmelden</a>
        </nav>
    </div>
</div>
