<%- include('partials/header') %>
<div class="container-fluid px-0">
  <div class="ap-public-wrapper">
    <%- page.rendered_html %>
  </div>
</div>
<link rel="stylesheet" href="/css/advanced_pages.css">
<%- include('partials/footer') %>
