<%- include('partials/header') %>
<div class="container">
    <div class="login-container login-box">
        <h2>Registrieren</h2>
        <p>Erstelle den ersten Administrator-Account.</p>
        <% if (error) { %>
            <p class="text-danger"><%= error %></p>
        <% } %>
        <form action="/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group mb-15">
                <label for="username">Benutzername</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="form-group mb-15">
                <label for="password">Passwort</label>
                <input type="password" id="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100 p-10">Registrieren</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>
